<p-card [style]="{'margin-top': '15px'}">
  <h1>Main page</h1>
  <p-dataView #dv [value]="books" [paginator]="true" [rows]="6" filterBy="title"
              [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row md:justify-content-between">
        <span class="p-input-icon-left mb-2 md:mb-0">
                  <i class="pi pi-search"></i>
                  <input type="search" pInputText placeholder="Search by Title" (input)="dv.filter($any($event.target).value)">
              </span>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
    <ng-template let-book pTemplate="listItem">
      <div class="p-col-12">
        <div class="product-list-item">
          <div class="product-list-detail">
            <div class="product-name"><i>{{book.title}}</i>, {{book.author}}</div>
            <div class="product-description">{{book.publishingHouse}}</div>
            <div class="product-description">{{book.description}}</div>
          </div>
          <div class="product-list-action">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{book.category}}</span>
            </div>
            <button pButton pRipple icon="pi pi-star" label="Add to Favourites" (click)="addToFavourite(book)"></button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-book pTemplate="gridItem">
      <div class="col-12 md:col-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{book.category}}</span>
            </div>
          </div>
          <div class="product-grid-item-content">
            <div class="product-name"><i>{{book.title}}</i>, {{book.author}}</div>
            <div class="product-description">{{book.publishingHouse}}</div>
            <div class="product-description">{{book.description}}</div>
          </div>
          <div class="product-grid-item-bottom">
            <button pButton pRipple icon="pi pi-star" (click)="addToFavourite(book)"></button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</p-card>
