/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/saga-orange/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");

/* You can add global styles to this file, and also import other style files */

body {
  background-color: #f1e5d0;
}

.field {
  margin : 25px 5px;
}

.p-button {
  margin: 5px;
}
